| {% load socialaccount %}

| {% get_providers as socialaccount_providers %}
| {% for provider in socialaccount_providers %}

| {% if provider.name == "Facebook" %}
a.col-md-3.normalFaColor.hoverFacebook(href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}",
                                       title="{{provider.name}}", class="socialaccount_provider {{provider.id}}")
  .fa.fa-facebook-square.fa-4x
| {% endif %}
| {% if provider.name == "Google" %}
a.col-md-3.normalFaColor.hoverGoogle(href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}",
                                       title="{{provider.name}}", class="socialaccount_provider {{provider.id}}")
  .fa.fa-google-plus-official.fa-4x
| {% endif %}
| {% if provider.name == "Twitter" %}
a.col-md-3.normalFaColor.hoverTwitter(href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}",
                                       title="{{provider.name}}", class="socialaccount_provider {{provider.id}}")
  .fa.fa-twitter-square.fa-4x
| {% endif %}
| {% if provider.name == "LinkedIn" %}
a.col-md-3.normalFaColor.hoverLinkedIn(href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}",
                                       title="{{provider.name}}", class="socialaccount_provider {{provider.id}}")
  .fa.fa-linkedin-square.fa-4x
| {% endif %}
| {% endfor %}
